.upperText {
  font-size: 150%;
  position: relative;
  left: 0%;
}

* {
  border: 0px solid rgb(160, 83, 83) !important;
}

button {
  margin-top: 0;
}

.createPoll {
  position: relative;
  left: 60%;
  border-radius: 8px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-color: white;
  font-size: larger;
  display: none;
  font-weight: bold;
}

.container-sm {
  display: flex;
}

.userName {
  position: absolute;
  font-size: 105%;
  left: 78.2%;
  display: none;
}

.logOut {
  position: absolute;
  bottom: 70%;
  left: 76%;
  font-size: 105%;
  width: 10%;
  height: 50%;
  border: none;
  background-color: transparent;
  color: rgb(42, 152, 216);
  text-decoration-line: underline;
  display: none;
}

.logIn {
  position: relative;
  left: 80%;
  border-radius: 8px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border-color: white;
  font-size: larger;
  display: block;
  font-weight: bold;
}

footer {
  text-align: center;
  font-weight: bold;
  color: white;
  margin-top: 40px;
}

body {
  background-color: rgb(22, 25, 27);
  font-family: "Noto Sans", serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vh;
}

.card {
  background-color: rgb(22, 25, 27);
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form-desc-label {
  text-align: center;
  font-size: larger;
  min-height: 80px;
}

.form-check-label {
  background-color: #26272b;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: block;
  width: 100%;
  cursor: pointer;
}

.form-check-input:checked + .form-check-label {
  background-color: #131212;
}

.form-check-input:checked {
  background-color: #131212;
}

input[type="radio"]:focus {
  outline: none;
  box-shadow: none;
}

.equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.equal-height form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.form-check {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-check-input {
  margin-right: 10px;
  margin-top: 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #070606;
  border: 1px solid #fff;
  position: relative;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.form-check-input:hover {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.button-container {
  align-self: flex-end;
  margin-top: auto;
}

.form-check-input2 {
  margin-left: 30px;
}

.voteButton {
  height: 10%;
  width: 22%;
  position: relative;
  left: 78%;
}

.removePollButton {
  position: relative;
  padding: 0%;
}

.progress {
  height: 50px;
  background-color: rgb(52, 53, 54);
  display: flex;
  overflow: hidden;
}
.progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 7px;
  line-height: 1;
}

.bg-success {
  background-color: #259c41 !important;
  color: white;
}
